<div class="card mt-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
    <p class="card-text">{{user.expertise}}</p>
    
    <a class="btn btn-primary" href="/">All Users</a>
  </div>
</div>